@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
  --background: #0E071E;
  --foreground: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  display: inline-block;
  background: linear-gradient(90deg, rgb(214, 52, 166) 0%, rgb(43, 203, 214) 38%, rgb(146, 12, 199) 95%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
