@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
  --background: #0E071E;
  --foreground: #ffffff;
  --primary: #2a1756;
  --secondary: #6855d5;
  --dark: #8468c5;
  --light: #b5a0e6;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
.active {
  display: inline-block;
  background: linear-gradient(90deg, rgb(214, 52, 166) 0%, rgb(43, 203, 214) 38%, rgb(146, 12, 199) 95%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.active-line {
  background: linear-gradient(90deg, rgb(214, 52, 166) 0%, rgb(43, 203, 214) 38%, rgb(146, 12, 199) 95%);
}

.active {
  font-size: 18px;
}

#custom_cursor {
  pointer-events: none;
  width: 200px;
  height: 200px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  animation: 10s linear animateWrapper infinite;
  &::after {
    content: "";
    width: 30px;
    height: 30px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 3000;
    mix-blend-mode: difference;
  }
  @keyframes animateWrapper {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }
}
